# ------------------------
# 📦 General
# ------------------------
*.log
*.env
.env.*
.DS_Store
*.swp
*.swo
.vscode/
.idea/

# ------------------------
# 🐍 Python / FastAPI
# ------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
venv/
.env
.mypy_cache/
.pytest_cache/
.tox/
.coverage
htmlcov/
instance/
*.sqlite3

# ------------------------
# ☁️ Terraform
# ------------------------
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json
terraform.tfplan
*.backup

# ------------------------
# ⚛️ React
# ------------------------
node_modules/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env.local
.env.development.local
.env.test.local
.env.production.local

tmp/
*.bak
firebase-credentials.json
credenciales